/* font-family: "Raleway", sans-serif; */
/* font-family: "Roboto", sans-serif; */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    font-size: 16px;
    background-color: #fff;
}
.nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.studio {
    color: #2e2f42;
}
.studio .link:hover,
.studio .link:focus {
    color: #404bbf;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;  
}

.address {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
}

.h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.features > li > p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.features .link:hover,
.features .link:focus {
    color: #404bbf;
}

.our-team > li > p{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}
ul {
list-style-type: none;
}

.button {
    justify-content: flex-start rgba(0, 0, 0, 0.15);
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
}
.button .link:hover,
.button .link:focus {
    background-color: #404BBF;  
}
.address > ul > li > a link:hover 
.address > ul > li > a link:active {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #404bbf;
}

.section-1 {
    background-color:  #2e2f42;
}

.section-3 {
    background-color: #F4F4FD;
}
.h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.li-3-1 {
    background-color: #FFFFFF;  
}
.p {
    font-size: 16px;
}

.footer {
   background-color: #2e2f42; 
}